
{% extends 'base.html' %}

{% block titulo %}Nuevo Proyecto{% endblock %}

{% block contenido %}
  <h1>Agregar Proyecto</h1>
  <form action="/guardar" method="post" class="mb-3">
    <div class="mb-3">
      <label class="form-label">Nombre:</label>
      <input type="text" name="nombre" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Descripción:</label>
      <textarea name="descripcion" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Link:</label>
      <input type="url" name="link" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">URL de la Imagen:</label>
      <input type="url" name="imagen" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Guardar Proyecto</button>
  </form>
{% endblock %}
